/*Czcionka*/
@font-face {
    font-family: PixelFont;
    src: url(VT323-Regular.ttf);
}

/*Pełna strona*/
body {
    margin: 0;
    background-color: #d4d0c8;
    font-family: PixelFont;
    display: flex;
    flex-flow: column;
    height: 100vh;
}

/*Nagłówek*/
header{
    display: flex;
    font-family: PixelFont;
    margin: 10px 10px 5px 10px;
    background-color: #8F8DD4;
    height: 50px;
    flex-grow: 0.4;
}
header img{
    align-self: center;
    max-width: 80%;
    max-height: 80%;
}

/*Ustawia ikony na prawą stronę*/
#BlockerSpotify{
    margin-left: auto; 
    margin-right: 10px;   
}

.RightIcons{
    border-radius: 5px;
    margin-left: 5px; 
    margin-right: 10px; 
    max-width: 60%;
    max-height: 60%;   
}

h1{
    margin: 0px;
    font-size: 35px;
    color: white;
    align-self: center;
}

header h2 {
    margin: 0px;
    font-size: 35px;
    background-color: white;
    border: gray solid 2px;
    color: black;
    align-self: center;
    width: 50%;
}

/*Toolbar pod nagłówkiem*/
#toolbar{
    display: flex;
    margin: 0px 10px 0px 10px;
    border-radius: 5px;
    background-color: #d4d0c8;
    height: 50px;
    flex-grow: 0.05;
}

#toolbar button{
    border: none;
    font-family: PixelFont;
    align-self: center;
    margin: 0px 30px 0px 10px;
    background-color: #d4d0c8;
    border-radius: 5px;
    font-size: 30px;
}

#toolbar button:hover{
    background-color: #9f9b94;
}

#toolbar button::first-letter{
    text-decoration: underline;
}
#toolbar a{
    border: none;
    font-family: PixelFont;
    align-self: center;
    margin: 0px 30px 0px 10px;
    background-color: #d4d0c8;
    border-radius: 5px;
    font-size: 30px;
}

#toolbar a:hover{
    background-color: #9f9b94;
}

#toolbar a::first-letter{
    text-decoration: underline;
}

/*Główna strona*/
main{
    margin: 5px 10px 10px 10px;
    background-color: #8F8DD4;
    border-radius: 5px;
    display: flex;
    align-content: stretch;
    flex-grow: 10;
}

#BlockerStars{
    max-width: 100%;
    max-height: 100%;
    margin-left: auto; 
    margin-right: 5px;   
}